#DATABASE
POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
POSTGRES_HOST_AUTH_METHOD=trust

#BACKEND
DATABASE_URL=postgresql://user:password@postgres:5432/db_name
PYTHONPATH=/app

#Frontend
REACT_APP_API_URL=http://localhost:8000/api/v1

